URxvt.scrollBar: false
Xcursor.theme: Win8

URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.perl-lib: /usr/lib/urxvt/perl

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

xclock*majorColor: #9a875f
xclock*minorColor: #9a875f
xclock*minuteColor: #9a875f
xclock*hourColor: #9a875f
xclock*secondColor: #9a875f

! Clipboard
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste
URxvt.keysym.C-M-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

! Fonts !
!URxvt*font: xft:Source Code Pro:size=10

URxvt.letterSpace: -1
URxvt.font: xft:Sauce Code Powerline:size=10

! Disable ctrl+shift thingy
URxvt.iso14755: false
URxvt.iso14755_52: false

! Rofi !
rofi.terminal: urxvt
rofi.lines: 3
rofi.eh: 2
rofi.width: 50
rofi.padding: 10
rofi.opacity: 95
rofi.bw: 0
rofi.bc: #282828
rofi.bg: #282828
rofi.fg: #928374
rofi.hlbg: #282828
rofi.hlfg: #ebdbb2

! Colors
#include ".config/colors/colors.Xresources"

*externalBorder: 0px
