body {
  background-color: #1f1f1f;
  font-family: Terminus, "Terminus (TTF)";
  font-size: 10;
  font-weight: normal;
  margin-left: 7%;
}
a:link,a:visited,a:active {
  text-decoration: none;
  color: #c0b18b;
  font-weight: normal;
}
a:hover {
  text-decoration: underline;
  color: #c0b18b;
  font-weight: normal;
}
table {
  border-spacing: 8px;
}
td:first-child {
  font-weight: bold;
  color: #d17b49
}
td:nth-child(2) {
  font-weight: normal;
  color: #504339;
}